@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --dark: #0f1622;
    --darker: #38384dd3;
    --darkest: #19233a;
    --grey: #979da7;
    --pink: #ec4899;
    --purple: #8b5cf6;
    --light: #eee;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* Mobile first */

body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: var(--dark);
}

.puzzle {
    position: absolute;
    right: 2rem;
    bottom: 5rem;
    min-width: 8rem;
    height: 8rem;
    background: url(../assets/puzzle.png) center/cover;
    rotate: 30deg;
    filter: opacity(0.2);
    z-index: -2;
}

.puzzle2 {
    position: absolute;
    right: 7rem;
    bottom: 10rem;
    min-width: 8rem;
    height: 8rem;
    background: url(../assets/puzzle.png) center/cover;
    rotate: 60deg;
    filter: opacity(0.2);
    z-index: -2;
}

.puzzle3 {
    position: absolute;
    right: 11rem;
    bottom: 5rem;
    min-width: 8rem;
    height: 8rem;
    background: url(../assets/puzzle.png) center/cover;
    rotate: 20deg;
    filter: opacity(0.2);
    z-index: -2;
}

/* Header */

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header .h1-list {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

.quotation {
    color: var(--grey);
    margin: 2rem;
    text-align: center;
}

#new-task-form {
    display: flex;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--darkest);
    padding: 0.9rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    color: var(--light);
    font-size: 1rem;
}

#new-task-input::placeholder {
    color: var(--grey);
    font-size: 0.9rem;
}

#new-task-submit {
    color: var(--pink);
    font-size: 1rem;
    font-weight: 700;
    background: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

#new-task-submit:hover {
    opacity: 0.5;
}

#new-task-submit:active {
    opacity: 0.4;
}

/* Main section */

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 0.8rem;
}

.task-list h2 {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
    margin-left: 0.8rem;
}

#challenges .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkest);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.task .content {
    flex: 1 1 0%;
}

.task .content .text {
    color: var(--light);
    font-size: 0.9rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.task .content .text:not(:read-only) {
    color: var(--pink);
}

.task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.05rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: rgb(223, 110, 133);
}

.trash-image {
    width: 1.8rem;
}

.edit-image {
    width: 1.3rem;
}

.save-image {
    width: 1.3rem;
}

/* Desktop */

@media screen and (min-width: 700px) {
    .puzzle {
        right: 7rem;
        width: 10rem;
        height: 10rem;
    }

    .puzzle2 {
        top: 28rem;
        right: 13rem;
        width: 10rem;
        height: 10rem;
    }

    .puzzle3 {
        right: 18rem;
        width: 10rem;
        height: 10rem;
    }

    header .h1-list {
        font-size: 2.8rem;
    }

    .quotation {
        margin: 2rem;
        font-size: 1.3rem;
    }

    #new-task-input {
        font-size: 1.2rem;
    }

    #new-task-input::placeholder {
        font-size: 1.2rem;
    }

    #new-task-submit {
        font-size: 1.3rem;
    }

    .task .content .text {
        margin-left: 0.5rem;
        font-size: 1.2rem;
    }

    .task .content .text:not(:read-only) {
        font-size: 1.2rem;
    }

    .task .actions button {
        margin: 0 0.1rem;
        font-size: 1.2rem;
    }
}
